---
import Main from "../layouts/Main.astro";
import { getCollection } from "astro:content";
import Terminal from "../components/Terminal.astro";

const file = (await getCollection('misc')).find(
	(post: any) => post.slug === 'about'
);

if (!file) {
	throw new Error('Could not find file content');
}

const { Content } = await file.render();
---

<Main title="About" description="About me">
    <Terminal>
        <div class="markdown">
            <Content />
        </div>
    </Terminal>
</Main>